.head-nav {

}

.main-title-page {

}

.main-title {
    margin-top: 15vh;
    font-size: 80px;
}

.caption {
    font-size: 30px;
}

.main-menu {
    font-size: 0;
    align: center;
    padding: 0;
}

.main-menu li {
    font-size: 24px;
    margin-top: 2.5rem;
    list-style: none;
    display: inline-block;
    padding: 0 1rem;
}

.main-menu li a {
    color: #260;
    padding: 0;
    text-decoration: none;
}

.main-menu li a:hover {
    border-bottom: 1px solid #a60;
}

.main-menu-active {
    color: #0c4!important;
}

.main-menu-active:hover {
    text-decoration: none!important;
    border-bottom: 0!important;
}

@media screen and (max-width: 854px){
    .main-title {
        font-size: 60px;
    }

    .caption {
        font-size: 28px;
    }

    .main-menu li {
        font-size: 20px;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 640px){
    .main-title {
        font-size: 50px;
        margin-top: 5rem;
    }

    .caption {
        font-size: 24px;
    }

    .main-menu li {
        font-size: 22px;
        width: 10rem;
        height: 1rem;
        margin: 2rem auto;
        display: block;
    }
}

@media screen and (max-width: 540px){
    .main-title {
        font-size: 40px;
    }

    .caption {
        font-size: 20px;
    }
}

@media screen and (max-width: 420px){
    .caption {
        font-size: 18px;
    }

    .main-menu li {
        font-size: 16px;
    }
}

@media screen and (max-width: 390px){
    .main-title {
        font-size: 30px;
    }

    .caption {
        font-size: 14px;
    }
}

.main-title-page .star::after {
    background-color: #acf!important;
}
