.App {
  text-align: center;
  min-height: 100%;
}

.App-header {
  background-color: #013;
  color: white;
  text-align: left;
  margin: 0;
  padding: .75rem 8vw;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.App-title {
  font-size: 30px;
  color: #fff;
  margin: 0;
  text-decoration: none;
  display: inline;
}

.App-body {
    width: 100%;
}

.head-nav {
    display: block;
    list-style: none;
    font-size: 0;
    text-align: right;
    margin: 0;
}

.head-nav li {
    font-size: 14px;
    display: inline-block;
    margin: auto .6rem;
}

.head-nav a {
    color: #ff0;
    text-decoration: none;
}

.head-nav a:hover {
    text-decoration: underline;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

hr.star {
    border: 0;
    border-top: 3px solid black;
    width: 640px;
    display: block;
    box-sizing: content-box;
    overflow: visible;
}

hr.star::after {
    position: relative;
    top: -.6em;
    display: inline-block;
    padding: 0 .25em;
    content: '\f005';
    font-family: "Font Awesome 5 Free";
    font-size: 2em;
    background-color: #acf;
}

.table {
    display: table;
}

.tr {
    display: table-row;
}

.th {
    display: table-cell;
    font-weight: bold;
}

.td {
    display: table-cell;
}

@media screen and (max-width: 910px){
    .App-header {
        padding-right: 6vw;
    }
}

@media screen and (max-width: 854px){
    hr.star {
        width: 480px;
    }

    .App-header {
        padding-right: 4vw;
    }
}

@media screen and (max-width: 768px){
    .App-header {
        padding-right: 3vw;
    }
}

@media screen and (max-width: 750px){
    .App-header {
        display: block;
    }
}

@media screen and (max-width: 640px){
    hr.star {
        width: 360px;
    }

    .App-title {
        font-size: 24px;
    }

    .head-nav li {
        font-size: 12px;
    }
}

@media screen and (max-width: 580px){
    .head-nav {
        padding-right: 1rem;
    }

    .head-nav li {
        margin: auto .2rem;
    }
}

@media screen and (max-width: 540px){
    hr.star {
        width: 300px;
    }
}

@media screen and (max-width: 420px){
    .head-nav li {
        font-size: 12px;
    }
}

@media screen and (max-width: 390px){
    hr.star {
        width: 220px;
    }

    .App-title {
        font-size: 20px;
    }

    .head-nav {
        font-size: 10px;
    }
}
