body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #cef;
  width: 100vw;
  height: 100vh;
}

#root {
    height: 100%;
}

h1 {
    font-family: 'Nunito Sans';
    font-weight: 1000;
}
